:root {
  --logo-color: #95e1d3;
  --main-color: #333333;
  --paragraph-color: #b6b6b6;
  --highlight-color: #f38181;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(22 / 15);
}

.container {
  width: 1224px;
  height: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.header-link.current {
  color: var(--highlight-color);
  border-bottom: 3px solid var(--highlight-color);
}

/* HEADER */

.header {
  height: 45px;
  margin-bottom: 68px;
}

.header-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: calc(37 / 30);

  color: var(--logo-color);
}

.header-flex {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  gap: 55px;
}

.header-link {
  position: relative;
  padding: 13px 0;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(17 / 14);

  color: var(--logo-color);
}

.header-link::after {
  position: absolute;
  content: "";
  display: block;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 3px;
  background-color: var(--highlight-color);

  transform: scaleX(0);

  transition: transform 250ms linear;
}

.header-link:hover::after {
  transform-origin: left center;
  transform: scaleX(1);
}

.header-link:not(:hover):after {
  transform-origin: right center;
}

.header-link.current:hover::after {
  content: none;
}

/* About */

.about {
  width: 1168px;
  margin: 0 auto 100px;
}

.about-head-text {
  font-family: Kaushan Script, sans-serif;
  font-size: 24px;
  line-height: calc(35 / 24);

  margin-bottom: 20px;
}
.about-title {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: calc(37 / 30);

  margin-bottom: 40px;
}

.about-border {
  height: 4px;
  width: 60px;
  background-color: var(--highlight-color);
  margin: 0 auto;
}

.about-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-wrapp {
  text-align: center;
  margin-bottom: 65px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 69px;
  width: 100%;
}
.about-item {
  display: flex;
  gap: 18px;
  flex-basis: calc((100% - 69px * 2) / 3);
}

.about-item svg {
  fill: var(--logo-color);
}

.about-item-title {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(17 / 14);

  margin-bottom: 20px;
}
.about-item-text {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: calc(22 / 15);

  width: 275px;

  color: var(--paragraph-color);
}

/* Team */

.team {
  width: 1168px;
  margin: 0 auto 80px;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;

  text-align: center;
}

.team-item {
  flex-basis: calc((100% - 2 * 42) / 3);
}

.team-img {
  width: 340px;

  margin-bottom: 30px;
}

.team-name {
  margin-bottom: 10px;

  font-family: Montserrat, sans-serif;
  font-style: 14px;
  line-height: 17px;
}

.team-prof {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;

  color: var(--paragraph-color);
}

/* footer */

.footer {
  height: 60px;
  width: 1224px;

  margin: 0 auto;

  border-top: 1px solid rgb(182, 182, 182);
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-text {
}
.footer-form {
  display: flex;
}
.form-input {
  display: block;
  width: 230px;
  height: 39px;
  padding: 10px 10px;

  border: 1px solid rgb(182, 182, 182);

  outline: none;
}

.form-input::placeholder {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;

  color: var(--paragraph-color);
}

.form-submit {
  padding: 11px 38.5px;
  color: #ffffff;

  background-color: var(--logo-color);

  border: none;

  cursor: pointer;
}
